@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("../fonts/MPLUSRounded1c-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px;
  color: #DC5866;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  background-position: 50% 100%;
}

.header {
  z-index: 9999;
  background-color: #DC5866;
  color: #ffffff;
  padding: 10px 20px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.header__body {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__account {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}
@media (max-width: 767px) {
  .header__account {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1020));
  }
}
@media (min-width: 767px) {
  .header__account {
    font-size: calc(12px + 2 * (100vw / 1020));
  }
}
.header__logo {
  line-height: 0;
  flex: 0 0 74px;
  overflow: hidden;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__block {
  padding-left: 10px;
}
.header__block a {
  color: inherit;
  text-decoration: underline;
}
.header__block a:hover {
  text-decoration: none;
}
.header__burger {
  display: none;
}
.header__link {
  color: inherit;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid transparent;
}
.header__link.selected {
  border: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}
.header__link:hover {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #DC5866;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/pattern.png");
  background-repeat: repeat-x;
  background-position: 50% 100%;
}

.main {
  background-color: #ffffff;
  flex: 1 1 auto;
  display: flex;
  border: 8px solid #E5828C;
  border-radius: 48px;
  height: 75vh;
  margin: 100px 20px 10px;
  align-items: center;
  overflow: hidden;
}
.main__text {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 0 3% 5%;
  -webkit-animation: scale 2s 1;
          animation: scale 2s 1;
}
.main__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  height: 100%;
}
.main img {
  width: 100%;
  height: auto;
  -webkit-animation: scale 2s 1;
          animation: scale 2s 1;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 20px;
  background: linear-gradient(to left, #b49cf1, #D62229, #DC5866);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation: animate-text;
          animation: animate-text;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: font-size 500ms ease-in-out;
}
@-webkit-keyframes animate-text {
  100% {
    background-position: 2000px 0;
  }
}
@keyframes animate-text {
  100% {
    background-position: 2000px 0;
  }
}

input,
button,
textarea {
  font-family: inherit;
}

#form {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  align-self: center;
  width: 100%;
}

::-moz-placeholder {
  color: #736A92;
  font-size: 20px;
}

:-ms-input-placeholder {
  color: #736A92;
  font-size: 20px;
}

label,
::placeholder {
  color: #736A92;
  font-size: 20px;
}

.email,
textarea {
  font-size: 20px;
  background-color: #F6F7FB;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.email {
  height: 60px;
}

textarea {
  height: 200px;
}

.send {
  width: 100%;
  background-color: #DC5866;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@media screen and (max-height: 720px) {
  textarea {
    height: 150px;
  }
}
@media screen and (max-height: 620px) {
  .email {
    height: 40px;
  }

  textarea {
    height: 120px;
  }
}
@media screen and (max-width: 1290px) {
  img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1225px) {
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1016px) {
  .main {
    flex-direction: column-reverse;
    height: auto;
  }
  .main div {
    width: 100%;
  }
  .main__text {
    padding: 7%;
  }
  .main h1 {
    text-align: center;
  }
  .main img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 705px) {
  .main {
    border-width: 6px;
    border-radius: 40px;
  }
  .main img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 495px) {
  .main {
    justify-content: space-around;
  }
  .main h1 {
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 376px) {
  .main {
    justify-content: center;
  }
  .main__image {
    padding-top: 0;
  }
  .main__image img {
    max-width: 100%;
  }
  .main h1 {
    font-size: 25px;
    margin-bottom: 5px;
  }
}
.footer {
  text-align: center;
  padding: 10px 20px;
}
.footer p {
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
}

@media (max-width: 937px) {
  .header__burger {
    position: relative;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 9999;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease-in-out;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 80px 0 0;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header__menu.active {
    top: 0;
    overflow: auto;
    background-color: rgba(220, 88, 102, 0.8);
    opacity: 1;
  }
  .header__link {
    display: block;
    width: 100vw;
    margin: 0;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
  }
  .header__link.selected, .header__link:hover {
    border: 0;
  }
  .header__link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(220, 88, 102, 0.75);
  }
}
@media (max-width: 768px) {
  .main__logo img {
    width: 25%;
  }
}