@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Light.ttf");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Black.ttf");
	font-weight: 900;
	font-style: normal;
}
*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 14px;
	color: #DC5866;
	line-height: 1.5;
	font-family: "M PLUS Rounded 1c", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: normal;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input, button, textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-image: url("../img/pattern.png");
	background-repeat: repeat-x;
	background-position: 50% 100%;
}

.main {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	   -moz-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 20px;
}
.main__body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 20px 0;
}
.main__block {
	position: relative;
	min-height: 600px;
	-webkit-box-flex: 50%;
	-webkit-flex: 50%;
	   -moz-box-flex: 50%;
	    -ms-flex: 50%;
	        flex: 50%;
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	-webkit-animation: scale 2s 1;
	   -moz-animation: scale 2s 1;
	     -o-animation: scale 2s 1;
	        animation: scale 2s 1;
}
.main__block:first-of-type {
	z-index: 1;
}
.main__form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main__form:first-of-type.left {
	-webkit-animation: moveLeftFirst 1s forwards;
	   -moz-animation: moveLeftFirst 1s forwards;
	     -o-animation: moveLeftFirst 1s forwards;
	        animation: moveLeftFirst 1s forwards;
}
.main__form:first-of-type.right {
	-webkit-animation: moveRightFirst 1s forwards;
	   -moz-animation: moveRightFirst 1s forwards;
	     -o-animation: moveRightFirst 1s forwards;
	        animation: moveRightFirst 1s forwards;
}
.main__form:last-of-type {
	display: none;
}
.main__form:last-of-type.left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation: moveLeftLast 1s forwards;
	   -moz-animation: moveLeftLast 1s forwards;
	     -o-animation: moveLeftLast 1s forwards;
	        animation: moveLeftLast 1s forwards;
}
.main__form:last-of-type.right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation: moveRightLast 1s forwards;
	   -moz-animation: moveRightLast 1s forwards;
	     -o-animation: moveRightLast 1s forwards;
	        animation: moveRightLast 1s forwards;
}
@media (max-width: 767px) {
	.main__title {
		font-size: -webkit-calc(30px + 30.6 * ((100vw - 320px) / 1020));
		font-size: -moz-calc(30px + 30.6 * ((100vw - 320px) / 1020));
		font-size: calc(30px + 30.6 * ((100vw - 320px) / 1020));
	}
}
@media (min-width: 767px) {
	.main__title {
		font-size: -webkit-calc(30px + 18 * (100vw / 1020));
		font-size: -moz-calc(30px + 18 * (100vw / 1020));
		font-size: calc(30px + 18 * (100vw / 1020));
	}
}
.main__img {
	text-align: center;
}
.main__img img {
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	max-width: 100%;
}

.form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #ffffff;
	margin: 20px 0;
	padding: 30px;
	max-width: 400px;
	width: 100%;
	line-height: 0;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	-webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.2);
	        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.form__icon {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	            -ms-grid-row-align: center;
	        align-self: center;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.form__icon img {
	max-width: 50%;
	display: block;
}
.form__txt {
	color: #000000;
	font-size: 12px;
	text-align: center;
	margin: 10px 0;
}
.form__link {
	color: #DC5866;
	text-decoration: underline;
}
.form__link:hover {
	text-decoration: none;
}
.form p {
	color: #000000;
	margin: 20px 0 0;
}
.form input, .form button {
	margin: 10px 0 0;
	padding: 5px 15px;
}
.form input {
	background-color: #F6F7FB;
	border: 1px solid #DCDCDC;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.form input::-webkit-input-placeholder {
	color: #DCDCDC;
}
.form input:-moz-placeholder {
	color: #DCDCDC;
}
.form input::-moz-placeholder {
	color: #DCDCDC;
}
.form input:-ms-input-placeholder {
	color: #DCDCDC;
}
.form input::-ms-input-placeholder {
	color: #DCDCDC;
}
.form input::placeholder {
	color: #DCDCDC;
}
.form input[type=radio] {
	display: none;
}
.form input[type=radio] + label {
	color: #DC5866;
	cursor: pointer;
}
.form input[type=radio] + label span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 10px;
	vertical-align: middle;
	background-image: url("../img/unchecked.svg");
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.form input[type=radio]:checked + label span {
	background-image: url("../img/checked.svg");
}
.form input[type=date] {
	background-image: url("../img/calendar.svg");
	background-repeat: no-repeat;
	-webkit-background-size: 20px 20px;
	   -moz-background-size: 20px 20px;
	     -o-background-size: 20px 20px;
	        background-size: 20px 20px;
	background-position: 95% 50%;
}
.form input[type=date]::-webkit-calendar-picker-indicator {
	background-image: none;
}
.form button {
	font-weight: 700;
	color: #ffffff;
	background-color: #DC5866;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
@media (max-width: 767px) {
	.form button {
		font-size: -webkit-calc(20px + 6.8 * ((100vw - 320px) / 1020));
		font-size: -moz-calc(20px + 6.8 * ((100vw - 320px) / 1020));
		font-size: calc(20px + 6.8 * ((100vw - 320px) / 1020));
	}
}
@media (min-width: 767px) {
	.form button {
		font-size: -webkit-calc(20px + 4 * (100vw / 1020));
		font-size: -moz-calc(20px + 4 * (100vw / 1020));
		font-size: calc(20px + 4 * (100vw / 1020));
	}
}
.form button:hover {
	-webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.footer {
	text-align: center;
	padding: 10px 20px;
}
.footer p {
	display: inline-block;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 5px 10px;
}

@-webkit-keyframes moveLeftFirst {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(-100vw);
		        transform: translateX(-100vw);
	}
}

@-moz-keyframes moveLeftFirst {
	from {
		opacity: 1;
		-moz-transform: translateX(0);
		     transform: translateX(0);
	}
	to {
		opacity: 0;
		-moz-transform: translateX(-100vw);
		     transform: translateX(-100vw);
	}
}

@-o-keyframes moveLeftFirst {
	from {
		opacity: 1;
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
	to {
		opacity: 0;
		-o-transform: translateX(-100vw);
		   transform: translateX(-100vw);
	}
}

@keyframes moveLeftFirst {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(-100vw);
		   -moz-transform: translateX(-100vw);
		     -o-transform: translateX(-100vw);
		        transform: translateX(-100vw);
	}
}
@-webkit-keyframes moveLeftLast {
	from {
		left: 100vw;
		opacity: 0;
		-webkit-transform: translateX(100vw);
		        transform: translateX(100vw);
	}
	to {
		left: 0;
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-moz-keyframes moveLeftLast {
	from {
		left: 100vw;
		opacity: 0;
		-moz-transform: translateX(100vw);
		     transform: translateX(100vw);
	}
	to {
		left: 0;
		opacity: 1;
		-moz-transform: translateX(0);
		     transform: translateX(0);
	}
}
@-o-keyframes moveLeftLast {
	from {
		left: 100vw;
		opacity: 0;
		-o-transform: translateX(100vw);
		   transform: translateX(100vw);
	}
	to {
		left: 0;
		opacity: 1;
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
}
@keyframes moveLeftLast {
	from {
		left: 100vw;
		opacity: 0;
		-webkit-transform: translateX(100vw);
		   -moz-transform: translateX(100vw);
		     -o-transform: translateX(100vw);
		        transform: translateX(100vw);
	}
	to {
		left: 0;
		opacity: 1;
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes moveRightFirst {
	from {
		opacity: 0;
		-webkit-transform: translateX(-100vw);
		        transform: translateX(-100vw);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-moz-keyframes moveRightFirst {
	from {
		opacity: 0;
		-moz-transform: translateX(-100vw);
		     transform: translateX(-100vw);
	}
	to {
		opacity: 1;
		-moz-transform: translateX(0);
		     transform: translateX(0);
	}
}
@-o-keyframes moveRightFirst {
	from {
		opacity: 0;
		-o-transform: translateX(-100vw);
		   transform: translateX(-100vw);
	}
	to {
		opacity: 1;
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
}
@keyframes moveRightFirst {
	from {
		opacity: 0;
		-webkit-transform: translateX(-100vw);
		   -moz-transform: translateX(-100vw);
		     -o-transform: translateX(-100vw);
		        transform: translateX(-100vw);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes moveRightLast {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(100vw);
		        transform: translateX(100vw);
	}
}
@-moz-keyframes moveRightLast {
	from {
		opacity: 1;
		-moz-transform: translateX(0);
		     transform: translateX(0);
	}
	to {
		opacity: 0;
		-moz-transform: translateX(100vw);
		     transform: translateX(100vw);
	}
}
@-o-keyframes moveRightLast {
	from {
		opacity: 1;
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
	to {
		opacity: 0;
		-o-transform: translateX(100vw);
		   transform: translateX(100vw);
	}
}
@keyframes moveRightLast {
	from {
		opacity: 1;
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
		     -o-transform: translateX(0);
		        transform: translateX(0);
	}
	to {
		opacity: 0;
		-webkit-transform: translateX(100vw);
		   -moz-transform: translateX(100vw);
		     -o-transform: translateX(100vw);
		        transform: translateX(100vw);
	}
}
@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0.5, 0.5);
		        transform: scale(0.5, 0.5);
	}
	100% {
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}
@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0.5, 0.5);
		     transform: scale(0.5, 0.5);
	}
	100% {
		-moz-transform: scale(1, 1);
		     transform: scale(1, 1);
	}
}
@-o-keyframes scale {
	0% {
		-o-transform: scale(0.5, 0.5);
		   transform: scale(0.5, 0.5);
	}
	100% {
		-o-transform: scale(1, 1);
		   transform: scale(1, 1);
	}
}
@keyframes scale {
	0% {
		-webkit-transform: scale(0.5, 0.5);
		   -moz-transform: scale(0.5, 0.5);
		     -o-transform: scale(0.5, 0.5);
		        transform: scale(0.5, 0.5);
	}
	100% {
		-webkit-transform: scale(1, 1);
		   -moz-transform: scale(1, 1);
		     -o-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}
@media (max-width: 767px) {
	.main__block {
		-webkit-box-flex: 100%;
		-webkit-flex: 100%;
		   -moz-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
	}
	.main__block:first-of-type {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		   -moz-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	.main__block:last-of-type {
		-webkit-box-ordinal-group: 2;
		-webkit-order: 1;
		   -moz-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		min-height: auto;
	}
	.main__title {
		padding: 20px 0 0;
		text-align: center;
	}
	.main__img img {
		-webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		        border-radius: 10px;
		max-width: 50%;
	}

	.form {
		margin: 0 auto;
	}
}