@font-face {
	font-family: M PLUS Rounded 1c;
	src: url(../../../fonts/MPLUSRounded1c-Thin.ttf);
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: M PLUS Rounded 1c;
	src: url(../../../fonts/MPLUSRounded1c-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Bold.ttf");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "M PLUS Rounded 1c";
	src: url("../fonts/MPLUSRounded1c-Black.ttf");
	font-weight: 900;
	font-style: normal;
}
*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 14px;
	color: #DC5866;
	line-height: 1.5;
	font-family: "M PLUS Rounded 1c", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	background-color: #ffffff;
	padding: 0;
	margin:0;
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: normal;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input, button, textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-image: url("../img/pattern.png");
	background-repeat: repeat-x;
	background-position: 50% 100%;
}

.header {
	z-index: 9999;
	background-color: #DC5866;
	color: #ffffff;
	padding: 10px 20px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.header__body {
	position: relative;
	height: 60px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__account {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
@media (max-width: 767px) {
	.header__account {
		font-size: -webkit-calc(12px + 3.4 * ((100vw - 320px) / 1020));
		font-size: -moz-calc(12px + 3.4 * ((100vw - 320px) / 1020));
		font-size: calc(12px + 3.4 * ((100vw - 320px) / 1020));
	}
}

@media (min-width: 767px) {
	.header__account {
		font-size: -webkit-calc(12px + 2 * (100vw / 1020));
		font-size: -moz-calc(12px + 2 * (100vw / 1020));
		font-size: calc(12px + 2 * (100vw / 1020));
	}
}
.header__logo {
	line-height: 0;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 74px;
	-moz-box-flex: 0;
	-ms-flex: 0 0 74px;
	flex: 0 0 74px;
	overflow: hidden;
}

.header__logo img {
	max-width: 100%;
	display: block;
}
.header__block {
	padding-left: 10px;
}

.header__block a {
	color: inherit;
	text-decoration: underline;
}

.header__block a:hover {
	text-decoration: none;
}

.header__burger {
	display: none;
}
.header__link {
	color: inherit;
	font-weight: 700;
	margin: 0 10px;
	padding: 10px;
	border: 1px solid transparent;
}
.header__link.selected {
	border: 1px solid #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
}
.header__link:hover {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: #DC5866;
}

.main {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	   -moz-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 100px 20px 10px;
}
.main__title {
	text-align: center;
	font-size: 48px;
}

.footer {
	text-align: center;
	padding: 10px 20px;
}
.viktorin_items {
    display: flex;
	align-items: center;
	margin:0 auto;
    width: 80%;
	/* border:1px solid yellow; */
}

.viktorin_items>div {
    flex: 1 1 50%;
}

.viktorin_img  {
	background-image: url("../img/victorin_img.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 445px;
	
	
}
.viktorin_img img {
    width:100%;
}

.viktorin_header {
    color:#DC5866;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.viktorin_waiting {
    width:300px;
    height: 300px;
    margin:0 auto;
    border:10px solid  #DC5866;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:10em;
    animation-name:victorin_circle;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
    animation-timing-function:ease-in-out; /*cubic-bezier(0.68, -0.55,0.265, 1.55);*/
    animation-direction: alternate;
	
}

.viktorin_timer {
    padding: 2em 2em;
}

.seconds_till{
    color:#DC5866;
    display: inline-block;
    font-weight: bold;    
}

.viktorin_question{
    padding-top:1em;
    display: none;  

}

.viktorin_content {
	padding:2em;
	/* border:1px solid green; */
	/*height: 445px;*/
}

.correct {
    display: flex;
    justify-content: space-evenly;
	margin-bottom: 1.5em;
}

.correct p {
  color:#A43F3F;
  font-weight: bold;
  font-size: 1.1em;
}


.question_content {
   
    background-color: #DC5866;
    border-radius: 5px;
    padding:3em;
	/* border:1px solid blue; */
	
    
}

.question_text {
    color:white;
    font-size: 1.5em;
    font-weight: bold;
	margin-bottom: 1.5em;
	text-align: center;
}

.question_buttons {
    display: flex;
    justify-content: space-around;
	margin-bottom: 1.5em;

}

.question_buttons div a  {
    display: inline-block;
    text-decoration: none;
    border:4px solid white;
    padding:0.3em 2.5em;
    border-radius:30px;
    color:white;
	font-size: 1.3em;
    font-weight: bold;
}

.green {
    background-color: #4FE055;
}

.green:hover {
	color:black;
	background-color:#EF5050;
}

.red:hover {
	color:black;
	background-color:#EF5050;
}

.red {
    background-color: #EF5050;
}

.ahead a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
	margin-bottom: 1.5em;
    
}
.ahead {
    text-align: center;
}
.question_buttons div{
    padding:1.5em;
}
.blok {
    display: block;
    padding-top:2em;
	height: 445px;
	border:1px solid black;
}

.appear {

    animation-name: fade;
    animation-duration: 1s;
    
}

.shake {
    animation-name: shake_wrong;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.turn {
    animation-name:turn_right;
    animation-duration: 0.5s;
    animation-timing-function: linear;

}

.timer {
	font-weight: bold;
	/*padding:1em 0;*/
	text-align: center;
	font-size: 2em;
	color: #9F2633;
}

.foot_back {
	background-image: url("../img/Pattern.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100px;
	border:1px solid black;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.footer {
	text-align: center;
	padding: 10px 20px;
}

.footer p {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 5px 10px;
}

.footer_text {
	background-color: white;
	display: inline-block;
	border-radius: 20px;
    border: 4px solid #DC5866;
	color: black;
	font-style: italic;
	padding: 0.3em 0.5em;
}




@keyframes turn_right {

    0%{
        transform: rotateY(0deg);
       
    }

    100% {
        transform: rotateY(180deg);
       
    }
    
}

@keyframes shake_wrong {
    2% {
        transform: translate(10px, -5px) rotate(-0.5deg); }
        4% {
        transform: translate(4px, 1px) rotate(0.5deg); }
        6% {
        transform: translate(10px, 9px) rotate(2.5deg); }
        8% {
        transform: translate(7px, 7px) rotate(3.5deg); }
        10% {
        transform: translate(10px, 0px) rotate(0.5deg); }
        12% {
        transform: translate(-3px, -4px) rotate(0.5deg); }
        14% {
        transform: translate(-4px, -2px) rotate(-0.5deg); }
        16% {
        transform: translate(8px, 7px) rotate(3.5deg); }
        18% {
        transform: translate(-8px, -3px) rotate(0.5deg); }
        20% {
        transform: translate(2px, -7px) rotate(-2.5deg); }
        22% {
        transform: translate(6px, 1px) rotate(-1.5deg); }
        24% {
        transform: translate(1px, 1px) rotate(-2.5deg); }
        26% {
        transform: translate(-1px, 10px) rotate(2.5deg); }
        28% {
        transform: translate(10px, -1px) rotate(3.5deg); }
        30% {
        transform: translate(-8px, -2px) rotate(2.5deg); }
        32% {
        transform: translate(7px, 0px) rotate(3.5deg); }
        34% {
        transform: translate(-1px, -3px) rotate(-1.5deg); }
        36% {
        transform: translate(-5px, 8px) rotate(1.5deg); }
        38% {
        transform: translate(8px, 5px) rotate(3.5deg); }
        40% {
        transform: translate(10px, 2px) rotate(-1.5deg); }
        42% {
        transform: translate(0px, -1px) rotate(-2.5deg); }
        44% {
        transform: translate(-3px, -6px) rotate(0.5deg); }
        46% {
        transform: translate(0px, -6px) rotate(-2.5deg); }
        48% {
        transform: translate(6px, 6px) rotate(-2.5deg); }
        50% {
        transform: translate(-3px, 9px) rotate(-0.5deg); }
        52% {
        transform: translate(7px, -3px) rotate(1.5deg); }
        54% {
        transform: translate(7px, 0px) rotate(1.5deg); }
        56% {
        transform: translate(3px, -7px) rotate(0.5deg); }
        58% {
        transform: translate(2px, -3px) rotate(-2.5deg); }
        60% {
        transform: translate(5px, 2px) rotate(-2.5deg); }
        62% {
        transform: translate(-2px, 10px) rotate(-0.5deg); }
        64% {
        transform: translate(8px, -2px) rotate(3.5deg); }
        66% {
        transform: translate(8px, -3px) rotate(1.5deg); }
        68% {
        transform: translate(4px, 5px) rotate(2.5deg); }
        70% {
        transform: translate(0px, -7px) rotate(2.5deg); }
        72% {
        transform: translate(5px, -7px) rotate(1.5deg); }
        74% {
        transform: translate(-4px, -2px) rotate(-2.5deg); }
        76% {
        transform: translate(-8px, -2px) rotate(1.5deg); }
        78% {
        transform: translate(2px, -5px) rotate(0.5deg); }
        80% {
        transform: translate(-2px, -3px) rotate(0.5deg); }
        82% {
        transform: translate(-4px, -1px) rotate(-0.5deg); }
        84% {
        transform: translate(-4px, 8px) rotate(0.5deg); }
        86% {
        transform: translate(3px, 5px) rotate(-0.5deg); }
        88% {
        transform: translate(6px, -4px) rotate(3.5deg); }
        90% {
        transform: translate(-8px, 3px) rotate(-0.5deg); }
        92% {
        transform: translate(-5px, 3px) rotate(-2.5deg); }
        94% {
        transform: translate(10px, 2px) rotate(1.5deg); }
        96% {
        transform: translate(-8px, 6px) rotate(-2.5deg); }
        98% {
        transform: translate(10px, 9px) rotate(1.5deg); }
        0%, 100% {
        transform: translate(0, 0) rotate(0); } 
   
    
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



@keyframes victorin_circle {
    0% {
        transform: scale(0.7);
        
    }

    100%{
        transform: scale(1.2);
    }
}


@media (max-width: 768px) {
	.header__burger {
		position: relative;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		top: 9px;
		background-color: #ffffff;
		left: 0;
		width: 100%;
		height: 2px;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.header__burger:before, .header__burger:after {
		content: "";
		position: absolute;
		background-color: #ffffff;
		width: 100%;
		height: 2px;
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		-webkit-transform: scale(0);
		   -moz-transform: scale(0);
		    -ms-transform: scale(0);
		     -o-transform: scale(0);
		        transform: scale(0);
	}
	.header__burger.active:before {
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
		        transform: rotate(-45deg);
		top: 9px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 80px 0 0;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		opacity: 0;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		   -moz-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.header__menu.active {
		top: 0;
		overflow: auto;
		background-color: rgba(220, 88, 102, 0.8);
		opacity: 1;
	}
	.header__link {
		display: block;
		width: 100vw;
		margin: 0;
		padding: 30px;
		text-align: center;
		color: #ffffff;
		font-size: 20px;
		text-transform: uppercase;
	}
	.header__link.selected, .header__link:hover {
		border: 0;
	}
	.header__link:hover {
		color: #ffffff;
		text-decoration: none;
		background-color: rgba(220, 88, 102, 0.75);
	}

	.main__title {
		font-size: 32px;
	}
}

@media screen and (min-width:320px) and (max-width:768px){

  .viktorin_img{
	  display: none;
  }

  .question_buttons {
	  flex-direction: column;
	  align-items: center;
  }

  .question_content {
	  padding:0.5em;
  }

  .viktorin_items {
	  text-align: center;
  }

  .viktorin_content {
	  padding: 0em;
  }

  .question_text {
	  font-size: 1.5em;
  }

  .viktorin_waiting {
	  font-size: 5em;
	  width:150px;
	  height: 150px;
  }
}

