.header{
    z-index: 9999;
    background-color: $c1;
    color: $c0;
    padding: 10px 20px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 5px rgba($color: $c2, $alpha: 0.2);
    &__body{
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__account{
        display: flex;
        align-items: center;
        @include adaptive-font(14,12);
		flex:0 1 auto;
        z-index: 10000;
    }
    &__logo{
        line-height: 0;
		flex:0 0 74px;
		overflow: hidden;
		img{
			max-width: 100%;
			display: block;
		}
    }
    &__block{
        padding-left: 10px;
        a{
            color: inherit;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__burger{
        display: none;
    }
    &__link{
        color: inherit;
        font-weight: 700;
        margin: 0 10px;
        padding: 10px;
        border: 1px solid transparent;
        &.selected{
            border: 1px solid $c0;
            background-color: rgba($color: $c2, $alpha: 0.1);
        }
        &:hover{
            border: 1px solid $c0;
            background-color: $c0;
            color: $c1;
        }
    }
}