@import "_fonts";
$c0:#ffffff;
$c1:#DC5866;
@import "_mixin";
@import "_nullstyle";
@import "_header";
.main{
    flex: 1 1 auto;
    margin-top: 100px;
    padding: 0 20px 10px;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    &__body{
        position:relative;
    }
    &__title{
        text-align: center;
        font-size: 48px;
    }
    &__sticker{
        position: absolute;
        width: 25vw;
        height: 25vw;
        background-repeat: no-repeat;
        background-size: 100% auto;
        &:first-of-type{
            background-image: url('../img/sticker1.png');
            top: 0;
            left: 0;
        }
        &:nth-of-type(2){
            background-image: url('../img/sticker2.png');
            top: 0;
            right: 0;
        }
        &:last-of-type{
            background-image: url('../img/sticker3.png');
            top: 50vh;
            left: 60%;
        }
    }
}
@import "_footer";
@import "_media";
